
//entrpri
.entrpri{
    background-color:#0a2640;
    height: 391px;
    border-radius: 12px;
    margin-bottom: 90px;
    h2{
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 72px;
display: flex;
align-items: center;
text-align: center;
padding-top: 72px;
text-align: center;
margin-bottom: 50px;
color: #fff;
padding: 72px 210px 0 210px;
    }
}
.form1{
    text-align: center;
}
.input1{
    all: inherit;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
height: 56px;
width: 370px;
border-radius: 240px;
padding: 12px 32px ;
margin-right: 24px;
text-align: left;
}
.btn1{
all: inherit;
display: inline-block;
 box-sizing: border-box;
padding: 16px 56px;
background-color: #65E4A3;
border: 2px solid #65E4A3;
border-radius: 56px;
font-size: 20px;
font-weight: 700;
line-height: 28px;
text-align: center;


}
//Endd intrpri 

//footer
.footer{
    height: 475px;
    width: 100%;
}
.cardf1{
    flex: 1;
    margin-right: 170px;
    img{
        width: 156px;
        margin-top: 100px;
    }
    p{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
color: #777777;
margin-top: 40px; 
margin-bottom: 60px;
}
}
.cardf2{
    flex: 2;
}

.footli{
    h3{
        font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 32px;
    }
    ul{
        li{
            margin-top: 30px;
          a{
           font-weight: 400;
font-size: 20px;
line-height: 32px; 
color: #777777;
&:hover {
    color: crimson;
    transition-duration: 1000ms;
    
}
        }   
        }
       

    }
}
.btnft{
    color: #000;
font-weight: 700;
font-size: 13px;
line-height: 28px;
    padding: 3px 14px;
    background-color: #65E4A3;
border-radius: 120px;
margin-left: 5px;
}