@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

header {
  padding: 55px 0;
  background-color: 
  #0A2640;
  height: 100vh;
  .header__top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__right-top{
      ul {
        display: flex;
        list-style-type: none;
        li {
          margin-right: 40px;
          a {
            font-size: 16px;
            color: white;
            text-decoration: none;
            &:hover {
              color: crimson;
              transition-duration: 1000ms;

            }
          
          }
          .header__button {
            color:#0A2640;
            background-color: #fff;
            padding: 8px 40px;
            border-radius: 15px;
            }
            .header__button:hover {
              color: white;
              background-color: rgb(61, 61, 61);
            }
          }
        
          
        }
      }
    }
    .header__bottom-box {
      margin-top: 65px;
      h3 {
        color: #F1F1F1;
        font-size: 20px;
        margin-bottom: 13px;
        text-align: center;
      }
      h1 {
        font-size: 64px;
        color: #ffff;
        line-height: 84px;
        width: 850px;
        text-align: center;
        margin: 0 auto;
        font-weight: 400;
        margin-bottom: 18px;
      }
      p {
        font-size: 16px;
        color: #F1F1F1;
        line-height: 28px;
        width: 750px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 80px;
      }
    }
  }

  .hero__box {
    position:relative;
    bottom: 120px;
    .hero__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .hero__center{
      
      img {
        margin-right: 80px;
        margin-left: 50px;
      }
    }
  }
  .handshake__box {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
    h3 {
      font-size: 20px;
      color: #7777;
      margin-bottom: 12px;
      font-weight: 400;
    }
    h2 {
      font-size: 48px;
      color: #000;
      line-height: 72px;
      width: 850px;
      font-weight: 400;
    }
    p {
      font-weight: 400;
      color: #777;
      line-height: 32px;

    }
  }
  .numbers__box {
    background-color: #0A2640;
    padding: 95px 0;
    margin-bottom: 100px;
    .numbers__heading{
      font-size: 20px;
      color: #F1F1F1;
      margin-bottom: 12px;
      text-align: center;
    }
    .numbers__text {
color: #fff;
margin-bottom: 60px;
font-size: 48px;
line-height: 72px;
text-align: center;
width: 850px;
margin: 0 auto;
    }
    .times {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      h1 {
        font-size: 95px;
        color: #4FE9A4;
        margin-bottom: 32px;
       
      }
      p {
        font-size: 24px;
        color: white;
        text-align: start;
      }
    }
  }

  .team__box {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    h3 {
      color: #777;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 12px;
    }
    h1 {
      font-size: 48px;
      color: #000;
      margin-bottom: 23px;
    }
    p {
      color: #777;
      font-size: 20px;
      line-height: 32px;
    }
  }
  .peoples__box {
    margin-bottom: 110px;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      list-style-type: none;
      li {
        margin-right: 50px;
        img {
          margin-bottom: 25px;
        }
        h3 {
          font-size: 28px;
          font-weight: 400;
          color: #000;
          margin-bottom: 12px;
        }
        p {
          font-size: 20px;
          color: #777;
          font-weight: 400;

        }
      }
    }
  }

  .plans {
    background-color: #0A2640;
    padding: 120px 0;
    margin-bottom: 124px;
    .plans__boxes {
      width: 800px;
      margin: 0 auto;
      
      .plans__heading {
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 12px;
            }
            h1 {
              color: #fff;
              font-size: 48px;
              font-weight: 400;
              margin-bottom: 23px;
            }
           .plans__text{
              font-size: 20px;
        font-weight: 400;
        color: #F1F1F1;
        line-height: 32px;
        margin-bottom: 72px;
            }
            .plans__box {
              ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style-type: none;
                margin-bottom: 72px;
                li {
                  margin-right: 50px;
                  p {
                    color: #f1f1f1;
                    font-size: 20px;
                    width: 610px;
                    font-weight: 400;
                    line-height: 32px;
                  }
                  h3 {
                    margin-bottom: 16px;
                    color: #fff;
                    font-size: 28px;
                    font-weight: 400;

                  }
                 
                }
              }
            }
          }
    }
.template__box{
margin-bottom: 120px;
 width: 1100px;
 
 margin: 0 auto;

 background-color: #0A2640;

 padding: 72px 0;
  .template__container {
margin: 0 auto;

text-align: center;

h1 {
  font-size: 48px;
  line-height: 72px;
  color: #fff;
  font-weight: 400;
  width: 725px;
  margin: 0 auto;
  margin-bottom: 50px;
}

form {
  input {
    width: 370px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    border-radius: 240px;
  }
  button {
    width: 120px;
    padding: 10px 27px;
    border-radius: 56px;
    background-color: #4FE9A4;
    color: #000;
    cursor: pointer;
    &:hover {
      background-color: #0A2640;
      color: #4FE9A4;
      transition-duration: 1000ms;
    }
  }
}

  }

}

footer {
  width: 1100px;
  margin: 0 auto;
  margin-top: 170px;
  padding-bottom: 100px;
.footer__container {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    li {
      h3 {
        font-size: 20px;
        font-weight: 700;
        color: #000;
        margin-bottom: 32px;
      }
      a {
        display: block;
        text-decoration: none;
        margin-bottom: 40px;
        color: #777;
      &:hover {
        color: crimson;
        transition-duration:1000ms ;
      }
      }
      .active__footer {
        display: flex;
        align-items: center;
       
          
        
       img {
        margin-left: 10px;
        &:hover {
          height: 30;
          background-color: red;
          position: relative;
          animation-name: example;
          animation-duration: 4s;
     
        }
        @keyframes example {
          0%   {background-color:red; left:0px; top:0px;}
          25%  {background-color:yellow; left:13px; top:30px;}
          50%  {background-color:blue; left:12px; top:14px;}
          75%  {background-color:green; left:0px; top:15px;}
          100% {background-color:red; left:0px; top:0px;}
        }
     
       }
      }
    }
    .footer__list-active {
    p {
      margin-top: 40px;
      margin-bottom: 65px;
      color: #777777;
      font-size: 16px;
      width: 300px;

    }
    h4 {
      color: #777;
      font-size: 16px;
      font-weight: 400;

    }
    }
  }
}
}


   
   
    

  